/** boot strap loading */
@import "bootstrap";
@import url("https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9/build/styles/github.min.css");
@import "users";

$gray-medium-light: #eaeaea;
$state-danger-text: red;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    .form-control {
        color: $state-danger-text;
    }
}